include ../../icons/features.svg
-var img1 = require('./img/work-1.png')
-var img2 = require('./img/work-2.png')
-var img3 = require('./img/work-3.png')

-var works = [{id: 1, name: 'школа онлайн образования школа онлайн образования', techs: 'HTML, CSS', url: '#', img: "./img/work-1.png"}, {id: 2, name: 'itLoft', techs: 'HTML, JS', url: '#', img: "./img/work-2.png"}, {id: 3, name: 'smth', techs: 'CSS, JS', url: '#', img: "./img/work-3.png"}]

.slider__section

    .works__description
        .central
            .works__title.subtitle= works[0].name
            .works__techs= works[0].techs
            .works__button
                a(href=works[0].url).works__link.link
                    svg.link__vector
                        use(xlink:href="#link")
                    span.link__text Посмотреть сайт

    .works__main-img

        each work, index in works
            if index === 0
                div(class = "works__img works__img--active works__img--" + work.id)
                    img.works__pic(src=work.img)
            else
                div(class = "works__img works__img--" + work.id)
                    img.works__pic(src=work.img)

    .works__slider
        .slider
            .slider__column.slider__column--left
                .slider__viewport
                    each work, index in works 
                        if index === works.length - 1
                            .slider__img.slider__img--left.slider__img--active
                                img.slider__pic(src=work.img)
                        else 
                            .slider__img.slider__img--left.slider__img--up
                                img.slider__pic(src=work.img)

                .slider__shadow
                button#slideDown.slider__arrow.slider__arrow--down
                    svg.slider__vector
                        use(xlink:href="#arrow_down_2")
            .slider__column.slider__column--right
                .slider__viewport
                    each work, index in works 
                        if index === 1
                            .slider__img.slider__img--right.slider__img--active
                                img.slider__pic(src=work.img + '')
                        else 
                            .slider__img.slider__img--right.slider__img--down
                                img.slider__pic(src=work.img + '')

                .slider__shadow
                button#slideUp.slider__arrow.slider__arrow--up
                    svg.slider__vector
                        use(xlink:href="#arrow_up")